@tailwind base;
@tailwind components;
@tailwind utilities;
  
@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose; 
  }
  .h1{
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }
  
  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }

  .education-item {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    justify-content: space-between; /* Space between the content and logo */
    align-items: center;
    padding: 1rem;
    background-color: #232329; /* Adjust as needed */
    border-radius: 0.75rem; /* Adjust as needed */
    margin-bottom: 1.5rem; /* Adjust as needed */
  }
  
  .education-details {
    flex: 1;
    display: flex;
    flex-direction: column; /* Stack items vertically */
  }
  
  .degree {
    font-size: 1.25rem; /* Adjust font size */
    font-weight: bold; /* Make degree name bold */
  }
  
  .dates {
    font-size: 0.875rem; /* Adjust font size */
    color: #acacac; /* Adjust color for date */
    margin-bottom: 0.5rem; /* Add space below the date */
  }
  
  .logo {
    margin-left: 1rem; /* Adjust space between content and logo */
  }
  
  .logo img {
    width: 120px; /* Set a fixed width for both logos */
    height: 80px; /* Set a fixed height for both logos */
    object-fit: contain; /* Ensure logos retain their aspect ratio */
  }
  
}